@import 'vars';

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $mediumPadding;



    p {
        font-size: $fontSizeMedium;
        color: $whiteColor;
        text-shadow: $textShadow;
        text-align: center;
    }

}