$blackColor: rgb(0, 0, 0);
$whiteColor: rgb(255, 255, 255);
$redColor: rgb(236, 126, 126);
$transparantColor: rgb(0, 0, 0, 0.8);
$transparantLighterColor: rgba(225, 223, 176, 0.3);
$transparantLightColor: rgba(225, 223, 176, 0.6);


$fontSizeMedium: 30px;
$fontSizeLarge: 50px;

$littlePadding: 10px;
$mediumPadding: 30px;

$borderLittleRadius: 8px;


$textShadow: 1px 1px $blackColor;